<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Properties>
        <Property name="appLogFileName">/mc/tmp/smpp.gw0</Property>
    </Properties>
    <Appenders>
        <RollingFile name="rollingFile" fileName="${appLogFileName}.log" filePattern="${appLogFileName}-%d{MM-dd-yyyy}-%i.log.gz">
            <PatternLayout>
                <Pattern>%5p %d{ISO8601} [%t] [%c]#[%M] - %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="100 MB"/>
                <TimeBasedTriggeringPolicy />
            </Policies>
        </RollingFile>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36}#%M - %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="debug">
            <AppenderRef ref="console"/>
            <AppenderRef ref="rollingFile"/>
        </Root>
    </Loggers>
</Configuration>